#formulaire_page{
    background-color: #24cabf;
    background-image: url('../img/homme-affaire.jpg');
    padding: 10% 5%;

    
    #formulaire_content{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        #formulaire_info{
            width: 50%;
            background-color: rgba(221, 218, 218, 0.542);
            padding: 100px;
            p{
                text-align: justify;
            }
        }
    }

    #formulaire{

        background-color: #4879898e;
        padding: 50px 50px;
        border-radius: 20px;

        h1{
            font-size: 40px;
            margin: auto;
        }
        h1, input[type="submit"] {
            font-weight: bold; /* mettre en gras */
            background: linear-gradient(to bottom, #295855, #213e4a); /* dégradé de couleur du rouge au bleu de haut en bas */
            -webkit-background-clip: text; /* appliquer le dégradé à la couleur du texte */
            -webkit-text-fill-color: transparent; /* rendre la couleur du texte transparente pour afficher le dégradé */

            &:hover{
                background: linear-gradient(to bottom, #4a62c9, #0b0335);
                -webkit-background-clip: text; /* appliquer le dégradé à la couleur du texte */
                -webkit-text-fill-color: transparent; /* rendre la couleur du texte transparente pour afficher le dégradé */
            }
        }

        h2, p{
            color: white;
        }
        
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        justify-content: center;
        margin: auto;
        margin-top: 2%;
        width: 450px;

        input, textarea, select{
            background-color: #f7f7f7;
            border: none;
            box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
            padding: 10px;
            font-size: 16px;
            color: #555;
        }

        label{
            color: #fff;
        }
        
        input, textarea, select{
            outline: none;
            box-shadow: inset 0px 5px 3px rgba(0, 0, 0, 0.2);
        }
        .short_input{
                width: 70%;
        }

        input[type="submit"]{
            border: none;
            cursor: pointer; 
            background-color: transparent;
            box-shadow: none;
            font-size: 30px;
        }
    }
}

@media (max-width: 1410px) {
    #formulaire_page{
        padding: 25% 5%;
        
    }
}



@media (max-width: 600px) {

}

