{% load static %}

<footer>
  <div id="footertop">
      <div class="footercover">
          <div class="footer-content">
              <div id="contact-info">
                <address><strong>Headquarters:</strong></address><br>
                <p>221 Jockey Hollow, Suite 600<br>
                    Smithtown, NY 11787</p>
                <div id="phone-fax-email">
                    <p><strong>Phone:</strong><span> (91) 8974 56984</span><br>
                        <strong>Fax:</strong><span> (91) 66 8754 8978</span><br>
                        <strong>Email:</strong><span> info@sba.com</span><br>
                    </p>
                </div>
                <div id="contact-rs">
                  <li><a href="https://www.linkedin.com/" target="_blank"><img src="{% static "img/discord.png" %}" alt="linkedin"></a></li>
                  <li><a href="https://www.linkedin.com/" target="_blank"><img src="{% static "img/linkedin.png" %}" alt="discord"></a></li>
                </div>
              <a class="wow animated zoomIn btn-pink" href="mailto:sba@gmail.com" target="_blank">Nous contacter</a>
            </div>
            <div class="info">
                <img src="{% static "img/logo_white.png" %}" alt="logo">
                <h2>Let's build <strong>your future</strong> together</h2>
            </div>    
          </div>
      </div>
  </div>
  <div id="copyright">
      <p>Copyright © 2024 All Right Reserved by SBA</p>
      <ul>
        <li><a href="/">  Home /</a></li>
        <li><a href="/about/">  About /</a></li>
        <li><a href="/form/">  Form /</a></li>
      </ul>
  </div>
</footer>