  .button{
    background-color: rgb(72, 189, 221);
    margin-left: 15px;
      &:hover{
        background-color: #000000;
      }
  }

  .bg{
    background-color: rgb(88, 155, 243);
  }

  .logg{
    color: rgb(241, 35, 35);
  }
  
  nav {
      position: fixed;
      width: 100%;
      background-color: rgb(226, 223, 179);
      background-image: url('../img/citylarge.gif');
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      color: #000000;
      //padding: 5px;
      position: fixed;
      z-index: 50;
    }
    
    .navbar-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative; /* Ajout de cette ligne */
    }
    
    .logo{
      font-size: 24px;
      color: #000000;
      text-decoration: none;
      padding-left: 3%;
    }
  
    a img{
      width: 150px;
    }
  
    
    .burger-menu {
      display: none;
      flex-direction: column;
      cursor: pointer;
      padding-right: 3%;
      .burger{
        width: 100px;
      }
    }
    
    .line {
      width: 25px;
      height: 3px;
      background-color: #000000;
      margin: 3px 0;
    }
    
    .menu-items {
      display: flex;
      list-style: none;
      padding: 1%;
      padding-right: 4%;
      //background-color: black;

      
    }
    
    .menu-items li {
      margin-left: 20px;

    }
    
    .menu-items li a {
      text-decoration: none;
      color: rgb(236, 236, 236);
      font-weight: bold;
      //font-family: 'Pixelify';
      //text-transform: uppercase;
      font-size: 20px;
      &:hover{
        color: rgb(72, 189, 221);
    }
  }

    .button li a {
      color: rgb(72, 189, 221);
    }

    .button:hover li a {
      color: goldenrod;
  }
  
    li{
      list-style: none;
    }
    
    .img-nav{
      display: flex;
      gap: 50px;
      justify-content: center;
      align-items: center;
    }
  
   
  
    @media (max-width: 768px) {
      .burger-menu {
        display: flex;
      }
    
      .menu-items {
        display: none;
      }
    
      .menu-items.active {
        display: flex;
        flex-direction: column;
        background-color: #000000ca;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 10px;
      }
    
      .menu-items.active li {
        margin-left: 0;
        margin-bottom: 10px;
      }
    }
    