{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="about_page">

<div class="heading">
    <h1>About us</h1>
</div>
<div class="container">
    <section class="about">
        <div class="about-image">
            <img src="{% static "img/building2.gif" %}" alt="logo">
        </div>
        <div class="about-content">
            <h2>Sailing Beyond Aspirations: Board the SBA Ship to Achievement!</h2>
            <p>Welcome to the <b> SBA website </b> ! We're dedicated to supporting small businesses and entrepreneurs in navigating the intricate landscape of commerce. At the heart of our mission lies a commitment to empowering individuals to achieve their entrepreneurial dreams. 

                The Small Business Administration (SBA) is an invaluable resource for entrepreneurs and small business owners across the United States. Established in 1953, the SBA is a federal agency tasked with aiding, counseling, assisting, and protecting the interests of small businesses. 
                
                Through a variety of programs, initiatives, and services, the SBA serves as a lifeline for small businesses, offering access to capital, entrepreneurial development, government contracting opportunities, and advocacy support. Whether you're just starting out or looking to expand your existing enterprise, the SBA provides the tools, resources, and expertise needed to thrive in today's competitive marketplace.
                
                Here at SBA, we work in tandem with the SBA to amplify their efforts and provide tailored solutions to meet the unique needs of small businesses. Our team is passionate about fostering growth, innovation, and sustainability within the small business community, and we're here to support you every step of the way on your entrepreneurial journey.
                
                Join us as we embark on a collaborative venture to build a vibrant ecosystem where small businesses can flourish and dreams can become reality. Together, we're shaping the future of commerce and empowering the next generation of entrepreneurs. <br> Welcome to the SBA family!
                <br>
                <img src="{% static "img/graphloanyear.png" %}" alt="logo">
                <br> <a href="" class="read-more">Read More</a> 
            
            </div>
    </section></div>
</div>

{% endblock content %}