@font-face {
    font-family: "futiger";
    src: url("../../fonts/Frutiger.ttf");
    font-weight: normal;
  }
  
  @font-face {
    font-family: "futiger";
    src: url("../../fonts/Frutiger_bold.ttf");
    font-weight: bold;
  }

  @font-face {
    font-family: "comic";
    src: url("../../fonts/comic/ComicNeue-Regular.ttf");
    font-weight: normal; // si fontweight normal applique cette police. 
  }

  // appliquera cette police si on met font-weight bold qq part, il faut bien preciser font-weight bold ici pr
  // que ça fonctionne apres, sinon il nous met le bold partout.
  @font-face {
    font-family: "comic";
    src: url("../../fonts/comic/ComicNeue-Bold.ttf");
    font-weight: bold; 
  }

  @font-face {
    font-family: "comic";
    src: url("../../fonts/comic/ComicNeue-Italic.ttf");
    font-style: italic;
  }

  @font-face {
    font-family: "Pixelify";
    src: url("../../fonts/PixelifySans-Bold.ttf");
    font-style: bold;
  }

 
  html, body{
    margin: 0;
    padding: 0;
    height: 110vh;
    font-family: 'futiger', sans-serif;
    background-color: rgb(248, 248, 248);
  }

  .content-title-underline{
    width: 50px;
    height: 4px;
    background-color: rgb(72, 189, 221);
    margin: 0 auto 30px auto;
  }

  .content-title-underline2{
    width: 50px;
    height: 4px;
    background-color: rgb(72, 189, 221);
    margin-bottom: 30px;
  }

.parallax{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  text-transform: uppercase;
  font-family: 'Pixelify', sans-serif;
  font-size: 40px;
}


  @media screen and (max-width: 1300px){

  
  }